@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    background: #eef1f5; 
}

/* Navbar*/

.navbar__{
    text-transform: uppercase;
}

/* conteúdo */

.header {
    padding-bottom: 2.2vw;
}

hr {
    margin: 0;
    
  }

/* rodapé */

.rodapé {
    background-color: var(--cor-de-fundo);
    padding: 5em 0;
    text-align: center;
}
  
.texto1 {
    color: #fff;
    padding: 1em 0;
}
  
.copyright {
    color: #fff;
    font-size: 15px;
     margin: 20px 0 0;
}