header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}

.navegacao-fixa {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.navegacao-fixa .logo {
  color: #111;
}

.navegacao-fixa .navegacao li a {
  color: #111;
}

header .logo {
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

header .navegacao {
  position: relative;
  display: flex;
}

header .navegacao li {
  list-style: none;
  margin-left: 30px;
}

header .navegacao li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  transition: .5s;
}

header .navegacao li a:hover {
  color: #ff0157;
}

.titulo-texto {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titulo-texto span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.imagem-caixa {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.imagem-caixa img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .contente {
  display: flex;
  justify-content: center;
  flex-direction: linha-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .contente .caixa {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .contente .caixa .imagem-caixa {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .contente .caixa .imagem-caixa img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {

  header,
  header .navegacao-fixa {
    padding: 10px 20px;
  }

  header .navegacao {
    display: none;
  }

  header .navegacao.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navegacao li {
    margin-left: 0;
  }

  header .navegacao li a {
    color: #111;
    font-size: 1.6em;
  }

  .menutoggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/homepage/menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menutoggle.active {
    background: url("../img/homepage/close.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navegacao-fixa .menutoggle {
    filter: invert(1);
  }

  .menu .contente {
    margin-top: 20px;
  }

  .menu .contente .caixa {
    margin: 10px;
  }

  .menu .contente .caixa .imagem-caixa {
    height: 260px;
  }

  .titulo-texto {
    font-size: 1.8em;
    text-align: center;
  }

  .navegacao-fixa {
    padding: 10px 30px;
  }
}

